// Colores principales de la WEB
$first-color: #00FF7F;
$secondary-color: #C0C0C0;
$tertiary-color: whitesmoke;

// Gradientes de color
$gradient-color-one: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

// Acentos de color
$color-accent-one: #F5DEB3;
$color-accent-two: hsla(120, 100%, 50%, 0.3);
$color-accent-tree: #E9FD43;

// Colores de Textos
$color-tile: #424949;
$color-text-one: InactiveCaptionText;
$color-text-two: InfoText;


// Ajustes de Textos
$size-menu: 1.8rem;
$size-box-text: 1.1rem;
$size-menu--card: 1.4rem;
$size-box-text--card: 1rem;
$space-letter: 2px;
$space-letter-copyright: 10px;


// Fuentes
$frist-font: 'Dosis', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$tertiary-font: 'Oswald', sans-serif;