
// CAJA de descripcion principal 
.about-us-detail-container   {
    background-image: $gradient-color-one;
    margin-top: 80px;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    .text-container {
        width: 80%;    
        min-height: 350px;
        margin: 0 auto;
        padding: 25px;
        background-color: $tertiary-color;
        h2 {
            letter-spacing: $space-letter;
            font-size: $size-menu;
        }
        .body-text{
            letter-spacing: $space-letter;
            margin-top: 50px;
            padding-left: 15px;
            color: $color-text-one;
            font-size: $size-box-text;
            border-left: 7px solid $color-accent-one;
        }
    }
    @include mobile-cg() {
        padding: 10px;
        .text-container {
            width: auto;
        }
    }
    
}

// Informacion del equipo
.about-team-container {
    margin: 100px auto auto auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    padding: 20px;
    gap: 20px;
    @include mobile-cg(){
        box-sizing: border-box;
        width: 99%;
        padding: 10px;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 100%), 1fr));
    }
}