// RESETEO BASE
* {   /* Reseteamos el body quitando los estilos por defecto, y agregamos fixed para que solo podamos usar la pantalla estatica sin scroll*/
    margin: 0;
    padding: 0;
    font-family: $frist-font;
}

// CONFIGURACION DE TIPOGRAFIAS
p, a {
    font-family: $secondary-font;
}

h1, h2, h3, h4{
    font-weight: 900;
    text-transform: uppercase;
}

// CONFIGURACION DE SOBRAS
.shadow_box {
    -webkit-box-shadow: 0px 7px 66px -10px rgba(133,126,133,1);
    -moz-box-shadow: 0px 7px 66px -10px rgba(133,126,133,1);
    box-shadow: 0px 7px 66px -10px rgba(133,126,133,1);
}

/* MAXIMO DEL CONTENEDOR */
.container_max_size {
    max-width: 1024px;
    margin: 0 auto;
}

@import "./base_header";
@import "./base_footer";