.footer-container {
    margin-top: 150px;
    background-color: $first-color;
    border-top: 6px dotted $color-text-one;
}

.footer-container .container_max_size {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 80%;
    justify-items: center;
    align-items: center;
    height: 50vh;
    padding: 10px;
}

.footer-container .container_max_size .footer-nav-container {
    width: 300px;
    padding: 15px;
    border-bottom: 16px double $color-text-two;
}

.footer-container .container_max_size .footer-text-container {
    justify-self: start;
}

.footer-container .container_max_size .footer-nav-container h4 {
    letter-spacing: $space-letter;
    color: $color-text-two;
    font-size: $size-menu;
}

.footer-container .container_max_size .footer-nav-container ul {  
    margin-top: 30px;  
    letter-spacing: $space-letter;
    display: inline-block;
    list-style-type: none;
}

.footer-container .container_max_size .footer-nav-container ul li {
    margin-top: 5px;
}

.footer-container .container_max_size .footer-nav-container ul li a {
    text-decoration: none;
    font-size: $size-box-text;
    color: $color-text-two;
}

.footer-container .container_max_size .footer-nav-container ul li a:hover {
    font-weight: 900;
    color: $color-text-two;
}

.footer-container .container_max_size .footer-text-container {
    margin-top: 20px;
    color: $color-text-two;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}

.footer-container .container_max_size .footer-text-container p{
    justify-self: center;
    align-self: center;
    font-size: $size-menu;
    letter-spacing: $space-letter-copyright;
    margin-left: 50px;
}

.footer-container .container_max_size .footer-text-container a {
    background-color: $tertiary-color;
    margin-top: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
}

.footer-container .container_max_size .footer-text-container a img{
    width: 60px;
}


/* INICIO MAPS */

.footer-map-container {
    width: 100%;
    
    
}

.footer-map-container iframe {
    height: 50vh;
}

.footer-map-container iframe.map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
/* FIN MAPS */