

/* HEADER ICONS AND LOGO, Estilos Generales del SITIO*/
header .header-icons-logo-container {
    margin-top: 30px;
    display: grid;
    /* grid-template-columns: 1fr 3fr; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: 100px;

    .logo-contanier {

        display: flex;
        width: 250px;
        justify-content: center;
        align-items: center;
        margin-left: 50px;

        h1 {
            margin-left: 20px;
            font-size: 40px;
            font-weight: 400px;
            letter-spacing: $space-letter;
            color: $color-accent-one;
        }

        img {
            width: 80px;
        }
    }

    .icons-container {
        width: 300px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-self: end;
        margin-right: 50px;
        
        img {
            width: 30px;
        }

        @include mobile-cm(){
            justify-self: center;
            max-width: 300px;
            padding: 0;
            width: 80%;
            margin: 0;
        }
    }

    @include mobile-tm() {
        header .header-icons-logo-container {
            width: 80%;
            display: grid;
            gap: 20px;
            grid-template-rows: 1fr 1fr;
            height: auto;
        }
    }
    @include mobile-cm() {
        width: 100%;
        padding: 0;
    }
    
}

/* HEADER NAV Estilos Generales del SITIO */
header .header-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    ul {
        padding-bottom: 20px;
        border-bottom: 1px solid $color-accent-one;
        padding-left: 0;  /* Reset Bootstrap style */
    }
    li {
        margin-top: 25px;
        display: inline-block;
        a{
            letter-spacing: $space-letter;
            font-weight: 200;
            padding: 15px;
            font-size: 1.3rem;
            text-decoration: none;
            color: $color-tile;
        }
        a:hover{
            font-weight: 800;
            color: $color-text-two;
        }
        
    }

    @include mobile-tm() {
        ul {
            width: 100%;
            margin-top: 50px;
            justify-items: center;
            padding-bottom: 0;
            -webkit-box-shadow: 0px 7px 66px -10px rgba(133,126,133,1);
            -moz-box-shadow: 0px 7px 66px -10px rgba(133,126,133,1);
            box-shadow: 0px 7px 66px -10px rgba(133,126,133,1);
        
            li {
                display: block;
                text-align: center;
                margin-top: 0;
                width: 100%;
                line-height: 50px;
                height: 50px;
                background-image: $gradient-color-one;  
                
                :hover {
                    transition: 0.3s;
                    background-color: $color-accent-two; 
                    border-bottom: 4px solid $color-accent-one;
                    height: calc(50px - 4px);
                }
            }
        }
    }

    @include mobile-cm() {
        justify-content: start;
        padding: 0;
    }
}